body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, table, th, td, a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
body {
    line-height: 1;
}
ul, ol {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

/** ==================================================
 * header
 *==================================================*/

.header {
    width: 100%;
}

.header-inner {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 120px;
    align-items: center;
    justify-content: space-between;
}

.site-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-title .logo-box {
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.site-title .title-box {
    padding: 20px;
}

.header-nav {
    width: 50%;
}

.header-nav ul {
    display: flex;
    justify-content: space-around;
}

.header-nav li {
    font-size: 16px;
}


/** ==================================================
 * kv
 *==================================================*/

.vk {
    height: 550px;
}

.vk .img-box {
    height: inherit;
}

/** ==================================================
 * main
 *==================================================*/

 main {
    width: 100%;
 }
